<!--# if (!$loginUser->isExists()) { #-->
<div class="header_login">
	<hook name="header_info_3"/><a rel="nofollow" href="{@url:u/login/run}">登录</a>/<a rel="nofollow" href="{@url:u/register/run}">注册</a>
</div>
<!--# } else {
	if ($pwforum && $pwforum->isForum()) {
		$_tmpfid = $pwforum->fid;
		$_tmpcid = $pwforum->getCateId();
	} else {
		$_tmpfid = 0;
		$_tmpcid = $pwforum ? $pwforum->getCateId() : '0';
	}
#-->
	<div class="header_login_later">
		<hook name="header_info_1"/>
        <a href="{@url:space/index/run?uid=$key}" class="userimg">
            <img src="{@Pw::getAvatar($pUid,'small')}" alt="{@Pw::substrs($loginUser->username,6)}">
        </a>
		<a aria-haspopup="J_head_user_menu" aria-label="个人功能菜单,按pagedown打开菜单,tab键导航,esc键关闭" tabindex="0" rel="nofollow" href="javascript:void(0)" id="J_head_user_a" class="username" title="{$loginUser->username}">{@Pw::substrs($loginUser->username,6)}<em class="core_arrow"></em></a>
		<hook name="header_info_2"/>
		<div class="fl">
		<div id="J_head_user_menu" role="menu" class="header_menu_wrap my_menu_wrap" style="display:none;">
			<div class="header_menu my_menu cc">
				<div class="header_menu_hd" id="J_head_pl_user"><span title="{$loginUser->username}" class="username">{@Pw::substrs($loginUser->username,6)}</span><em class="core_arrow_up"></em></div>
				<ul class="ct cc">
				<!--# $nav = Wekit::load('SRV:nav.bo.PwNavBo');
					$myNav = $nav->getNavFromConfig('my');
					foreach($myNav as $key=>$value){
				#-->
					<li>{$value['name']|html}</li>
				<!--# } #-->
				<!--#
				$_url = '';
				$_panelManage = false;

				// $_toCheck: permission name => array(permission key, url path)
				$_toCheck = array(
					'panel_bbs_manage'     => array('thread_check', 'manage/content/run'),
					'panel_user_manage'    => array('user_check', 'manage/user/run'),
					'panel_report_manage'  => array('report_manage', 'manage/report/run'),
					'panel_recycle_manage' => array('recycle', 'manage/recycle/run'),
				);
				foreach ($_toCheck as $_permName => $_permInfo) {
					if ($_panelManage) {
						break;
					}
					$_permission  = $loginUser->getPermission($_permName, false, array());
					if ($_permission && isset($_permission[$_permInfo[0]])) {
						$_url = $_permInfo[1];
						$_panelManage = true;
					}
				}
				if ($_panelManage) {
				#-->
					<li><a href="{@WindUrlHelper::createUrl($_url)|url}" rel="nofollow"><em class="icon_system"></em>前台管理</a></li>
				<!--#} if (Pw::getstatus($loginUser->info['status'], PwUser::STATUS_ALLOW_LOGIN_ADMIN) || Pw::inArray(3, $loginUser->groups)) {#-->
					<li><a href="{@Wind::getComponent('router')->getRoute('pw')->checkUrl('admin.php')}" target="_blank" rel="nofollow"><em class="icon_admin"></em>系统后台</a></li>
				<!--# } #-->
                    <li><a href="{@url:profile/index/run}"><em class="icon_profile"></em>个人设置</a></li>
                    <hook name="header_my" />
                    <li><a href="{@url:u/login/logout}" rel="nofollow"><em class="icon_quit"></em>退出登录</a></li>
				</ul>
			</div>
		</div>
		</div>
	</div>
	<!--# if ($loginUser->info['message_tone'] > 0 && $messageCount > 0) { #-->
	<audio autoplay="autoplay">
		<source src="{@theme:images}/message/msg.wav" type="audio/wav" />
		<source src="{@theme:images}/message/msg.mp3" type="audio/mp3" />
		<div style='overflow:hidden;width:0;float:left'><embed src='{@theme:images}/message/msg.wav' width='0' height='0' AutoStart='true' type='application/x-mplayer2'></embed></div>
	</audio>
	<!--# } #-->
<!--# } #-->